.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}
.square {	
	height:100px;
	width:100px;
	display: flex;
	background-color: blue;
	margin-top: 5px;
	margin-left: 5px;
}
.title {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.row {
	display: flex;
	justify-content: center;	
}
