.player {
    /*border: 1px solid gray;*/
    border-radius: 6px;
    margin: 20px;
    padding: 20px;
    width: auto;
    color:rgb(32, 58, 58);
    box-shadow: 2px 2px 10px;
}

.enemy {
    background-color:rgb(203, 223, 230);
}

.friend {
    background-color: rgb(142, 206, 228);
}

.bg-gold {
    background-color: rgb(196, 144, 15);
    font-weight:bold;
}

.cardSection {
    display:inline;
    margin:auto 10px;
    padding: 15px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

.spacer {
    height:3px;
    width:100%;
    background-color: rgb(155, 115, 15);
    margin: 4px;
}

.navbar {
    display:flex; 
    align-items: center;
    background-color: black; 
    height:30px;
    margin:none;
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    margin:4px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

li.dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}
